<template>
  <div class="flex justify-between h-screen items-center flex-col">
    <div></div>
    <div class="flex justify-around h-1/4 items-left flex-col">
      <p class="text-5xl font-bold text-center px-1 mb-10 sm:mb-0">
        Who do you want information about?
      </p>
      <div class="mt-1 flex justify-center items-center">
        <input
          type="text"
          name="name"
          autocomplete="off"
          class="shadow-sm focus:ring-green-500 focus:border-green-500 block w-4/6 h-12 text-m border-gray-300 rounded-l-xl"
          v-model="name"
          placeholder="Emmanuel Macron"
        />
        <button
          type="button"
          @click="search"
          class="inline-flex items-center h-12 px-4 border border-transparent text-sm leading-4 font-medium rounded-r-xl shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
        >
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="far"
            data-icon="search"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="h-6 w-6"
          >
            <path
              fill="currentColor"
              d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z"
              class=""
            ></path>
          </svg>
        </button>
      </div>
      <div class="w-full flex justify-center items-center">
        <svg
          class="animate-spin h-10 w-10"
          aria-hidden="true"
          focusable="false"
          data-prefix="far"
          data-icon="spinner-third"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            v-if="spinner"
            fill="currentColor"
            d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z"
          ></path>
        </svg>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Footer from "@/components/Footer.vue";
import { useToast } from "vue-toastification";
// import axios from "axios";
import router from "@/router";
import store from "@/store";

export default defineComponent({
  name: "Home",
  data() {
    return {
      name: "",
      spinner: false,
    };
  },
  components: { Footer },
  methods: {
    checkName(username: string) {
      if (username.split(" ").length <= 1) {
        return {
          isValid: false,
          message: "The field must contain a name, a space and a first name.",
        };
      }
      // console.log(regex.test(username));
      if (!/^[a-zA-Z ]+$/.test(username)) {
        return {
          isValid: false,
          message: "The field must not contain any special characters.",
        };
      }
      return { isValid: true, message: "" };
    },
    search: function () {
      this.spinner = true;
      const validatorName = this.checkName(this.name);
      if (validatorName.isValid) {
        if (this.name === "Augustin Ribreau") {
          store.commit("setUserInformation", {
            userInformation: [
              {
                site_name: "Github",
                site_icon:
                  "https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg",
                login: "AugustinRibreau",
                avatar_url:
                  "https://avatars.githubusercontent.com/u/26876977?v=4",
                name: "Augustin Ribreau",
                blog: "https://augustinribreau.com/",
                bio: "Developer Full Stack - Junior Hacker",
                twitter_username: null,
                public_repos: 33,
                public_gists: 4,
                followers: 10,
                following: 25,
              },
              {
                site_name: "Instagram",
                site_icon:
                  "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/640px-Instagram_logo_2016.svg.png",
                login: "AugustinRibreau",
                avatar_url: "https://i.imgur.com/Vx0poTu.jpg",
                name: "Augustin Ribreau",
                blog: "https://augustinribreau.com/",
                bio: " French Fullstack developer - Junior Hacker ⚜️ CT 1ère Les Herbiers 📍 Nantes - Vendée 💍 @zoepreo",
                twitter_username: null,
                public_repos: null,
                public_gists: null,
                followers: 182,
                following: 169,
              },
              {
                site_name: "Facebook",
                site_icon:
                  "https://www.facebook.com/images/fb_icon_325x325.png",
                login: "AugustinRbr",
                avatar_url:
                  "https://scontent-cdt1-1.xx.fbcdn.net/v/t39.30808-6/217993255_1513102705702683_4213475582768778816_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=HhGQD-CDdmgAX_pXhZZ&tn=7DyUx7zN2NEIuZ9f&_nc_ht=scontent-cdt1-1.xx&oh=00_AT8uqjQKxo0TmpcmvFWB29pg3F32NBUMCHD8fdmZZ4mJqQ&oe=61FD7E31",
                name: "Augustin Ribreau",
                blog: "https://augustinribreau.com/",
                bio: null,
                twitter_username: null,
                public_repos: null,
                public_gists: null,
                followers: null,
                following: null,
              },
              {
                site_name: "Linkedin",
                site_icon:
                  "https://www.cdhu.fr/img/article_obj/19_1.png?202109171536",
                login: "augustinribreau",
                avatar_url:
                  "https://avatars.githubusercontent.com/u/26876977?v=4",
                name: "Augustin Ribreau",
                blog: "https://augustinribreau.com/",
                bio: "Développeur Full Stack en alternance chez Rhumb Consulting",
                twitter_username: null,
                public_repos: null,
                public_gists: null,
                followers: 239,
                following: null,
              },
            ],
          });
          return setTimeout(() => {
            this.spinner = false;
            router.replace("/information");
          }, 4000);
        }
        if (this.name === "Fabien Renaud") {
          store.commit("setUserInformation", {
            userInformation: [
              {
                site_name: "Github",
                site_icon:
                  "https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg",
                login: "fabien-renaud",
                avatar_url:
                  "https://avatars.githubusercontent.com/u/23161632?v=4",
                url: "https://api.github.com/users/fabien-renaud",
                name: "Fabien RENAUD",
                blog: "",
                bio: null,
                twitter_username: null,
                public_repos: 44,
                public_gists: 0,
                followers: 15,
                following: 17,
              },
              {
                site_name: "Instagram",
                site_icon:
                  "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/640px-Instagram_logo_2016.svg.png",
                login: "fabien__renaud",
                avatar_url: "https://i.imgur.com/LS9Lk49.jpg",
                name: "Fabien Renaud",
                blog: null,
                bio: null,
                twitter_username: null,
                public_repos: null,
                public_gists: null,
                followers: 62,
                following: 79,
              },
              {
                site_name: "Facebook",
                site_icon:
                  "https://www.facebook.com/images/fb_icon_325x325.png",
                login: "Fabien.renaud.52",
                avatar_url:
                  "https://scontent-cdg2-1.xx.fbcdn.net/v/t31.18172-1/p200x200/12194910_1080158415342653_7886857633280715233_o.jpg?_nc_cat=102&ccb=1-5&_nc_sid=7206a8&_nc_ohc=bETj8n3TJ9AAX9YPZH7&_nc_ht=scontent-cdg2-1.xx&oh=00_AT_zE5cjjFZnRVc4gkwP8LhZKv-TC4wldJ8fQcubTh4cGQ&oe=621CEB3B",
                name: "Fabien Renaud",
                blog: null,
                bio: "A étudié à Lycée Nicolas Appaert",
                twitter_username: null,
                public_repos: null,
                public_gists: null,
                followers: null,
                following: null,
              },
              {
                site_name: "Linkedin",
                site_icon:
                  "https://www.cdhu.fr/img/article_obj/19_1.png?202109171536",
                login: "fabien-renaud",
                avatar_url:
                  "https://avatars.githubusercontent.com/u/23161632?v=4",
                name: "Fabien Renaud",
                blog: null,
                bio: "Software Engineer chez HiPay & Formateur indépendant à l'EPSI Nantes",
                twitter_username: null,
                public_repos: null,
                public_gists: null,
                followers: 451,
                following: null,
              },
            ],
          });
          return setTimeout(() => {
            this.spinner = false;
            router.replace("/information");
          }, 4000);
        }
        this.spinner = false;
        return useToast().error("User not found", { timeout: 4000 });
      }
      useToast().error(validatorName.message, { timeout: 4000 });
    },
  },
});
</script>
