<template>
  <div>
    <Navbar />
    <div>
      <!-- This example requires Tailwind CSS v2.0+ -->
      <div class="bg-white">
        <div
          class="max-w-7xl mx-auto py-12 px-4 text-center sm:px-6 lg:px-8 lg:py-24"
        >
          <div class="space-y-8 sm:space-y-12">
            <div
              class="space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl"
            >
              <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">
                We found it ! 💪🏼
              </h2>
              <p class="text-xl text-gray-500">
                Here are the places where we 🔍 your target !
              </p>
            </div>
            <ul
              role="list"
              class="mx-auto grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-4 md:gap-x-6 lg:max-w-5xl lg:gap-x-8 lg:gap-y-12 xl:grid-cols-6"
            >
              <website
                v-for="(info, iterator) in information"
                :key="iterator"
                :name="info.site_name"
                :img="info.site_icon"
                :info="info"
              />
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Navbar from "@/components/Navbar.vue";
import Website from "@/components/Information-Website.vue";
import store from "@/store";

export default defineComponent({
  name: "Information",
  data() {
    return {
      information: store.state.userInformation,
    };
  },
  components: { Website, Navbar },
});
</script>
