<template>
  <footer class="bg-white">
    <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
      <div class="mt-8 flex justify-center space-x-6">
        <LinkedinFooter
          v-for="(member, iterator) in members"
          :url="member.url"
          :name="member.name"
          :key="iterator"
        />
      </div>
      <p class="mt-8 text-center text-base text-gray-400">
        &copy; 2021 We found it, Inc. All rights reserved.
      </p>
    </div>
  </footer>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import LinkedinFooter from "@/components/Footer-Linkedin.vue";

export default defineComponent({
  name: "Footer",
  components: { LinkedinFooter },
  data() {
    return {
      members: [
        {
          name: "Grégoire Barré",
          url: "https://www.linkedin.com/in/gr%C3%A9goire-barre-228853159/",
        },
        {
          name: "Bastien Carcat",
          url: "https://www.linkedin.com/in/bastien-carcat-1a8707175/",
        },
        {
          name: "Arthur Le Ray",
          url: "https://www.linkedin.com/in/arthur-le-ray/",
        },
        {
          name: "Augustin Ribreau",
          url: "https://www.linkedin.com/in/augustinribreau/",
        },
      ],
    };
  },
});
</script>
