<template>
  <li class="cursor-pointer" @click="openModal">
    <div class="space-y-4">
      <img
        class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24"
        :src="img"
        alt=""
      />
      <div class="space-y-2">
        <div class="text-xs font-medium lg:text-sm">
          <h3>{{ name }}</h3>
          <br class="" />
        </div>
      </div>
    </div>
  </li>
  <modal v-if="isOpenModal" :info="info" @closeModal="closeModal" />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Modal from "@/components/Website-Modal.vue";

export default defineComponent({
  name: "website",
  components: { Modal },
  data() {
    return {
      isOpenModal: false, // @TODO A CHANGER
    };
  },
  props: {
    img: String,
    name: String,
    info: Array,
  },
  methods: {
    openModal() {
      this.isOpenModal = true;
    },
    closeModal() {
      this.isOpenModal = false;
    },
  },
});
</script>
