<template>
  <!-- This example requires Tailwind CSS v2.0+ -->
  <nav class="bg-white shadow">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16">
        <div class="flex-shrink-0 flex items-center">
          <img
            @click="backToHome"
            class="block lg:hidden h-8 w-auto cursor-pointer"
            src="../../public/rgb-transparent.png"
            alt="Workflow"
          />
          <img
            @click="backToHome"
            class="hidden lg:block h-8 w-auto cursor-pointer"
            src="../../public/rgb-text-transparent.png"
            alt="Workflow"
          />
        </div>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import store from "@/store";
import router from "@/router";

export default defineComponent({
  name: "Navbar",
  methods: {
    backToHome() {
      store.commit("setUserInformation", {
        userInformation: "",
      });
      return router.replace("/");
    },
  },
});
</script>
