<template>
  <div
    class="fixed z-10 inset-0 overflow-y-auto"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
  >
    <div
      class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
    >
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        aria-hidden="true"
      ></div>
      <span
        class="hidden sm:inline-block sm:align-middle sm:h-screen"
        aria-hidden="true"
        >&#8203;</span
      >
      <div
        class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6"
      >
        <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
          <button
            @click="closeModal"
            type="button"
            class="bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            <!-- Heroicon name: outline/x -->
            <svg
              class="h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <div class="sm:flex sm:items-start">
          <div class="mt-3 sm:text-left flex justify-center items-center flex-col w-full p-5">
            <img class="h-40 rounded-full w-40" :src="info.avatar_url" alt="" />
            <p class="text-2xl font-bold">{{info.name}}</p>
            <div class="flex justify-left items-left flex-col">
              <p v-if="info.bio" class="font-bold my-2">Bio : {{info.bio}}</p>
              <p v-if="info.twitter_username">Twitter : <span class="font-bold">{{info.twitter_username}}</span></p>
              <p v-if="info.public_repos">Public Repository : <span class="font-bold">{{info.public_repos}}</span></p>
              <p v-if="info.public_gists">Public Gists : <span class="font-bold">{{info.public_gists}}</span></p>
              <p v-if="info.followers">Public Followers : <span class="font-bold">{{info.followers}}</span></p>
              <p v-if="info.following">Public Following : <span class="font-bold">{{info.following}}</span></p>
              <p v-if="info.blog">Website url : <a class="text-green-500" :href="info.blog">{{info.blog}}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "modal",
  props: {
    info: Object,
  },
  methods: {
    closeModal() {
      this.$emit("closeModal");
    },
  },
});
</script>
